
<% content_for :assign_node_dataset do %>
  var dataset = [<%= @node_dataset %>];
<% end %>

Nodes!!!!!
<% if flash[:message1] %>
<div><%= flash[:message1] %></div>
<%= @node_dataset %>
<% end %>

<% if flash[:message2] %>
<div><%= flash[:message2] %></div>
<% end %>

<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
</head>
<body>
    <div id="viz"></div>
    <script type="text/javascript">

var dataset = <%= raw(@node_dataset) %>;

d3.select("#viz")
    .append("table")
    .style("border-collapse", "collapse")
    .style("border", "2px black solid")
    
    .selectAll("tr")
    .data(dataset)
    .enter().append("tr")
    
    .selectAll("td")
    .data(function(d){return d;})
    .enter().append("td")
    .style("border", "1px black solid")
    .style("padding", "10px")
    .on("mouseover", function(){d3.select(this).style("background-color", "aliceblue")}) 
    .on("mouseout", function(){d3.select(this).style("background-color", "white")}) 
    .text(function(d){return d;})
    .style("font-size", "12px");
    </script>
</body>
</html>